doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title
    body

    h1 Hello Ajay
    ul 
        each book in books
            li 
                p= book.name
                p= book.author.name
